/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #1e3a8a;
  --ifm-color-primary-dark: #1a337a;
  --ifm-color-primary-darker: #172e6d;
  --ifm-color-primary-darkest: #112256;
  --ifm-color-primary-light: #2647b0;
  --ifm-color-primary-lighter: #3357d1;
  --ifm-color-primary-lightest: #4367df;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(30, 58, 138, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #4861d4;
  --ifm-color-primary-dark: #3f57c2;
  --ifm-color-primary-darker: #384fb3;
  --ifm-color-primary-darkest: #2b3d90;
  --ifm-color-primary-light: #5471ec;
  --ifm-color-primary-lighter: #6984ff;
  --ifm-color-primary-lightest: #8399ff;
  --docusaurus-highlighted-code-line-bg: rgba(72, 97, 212, 0.35);
}
